body {
}
h1, h2, article, section, nav {
  font-family: sans-serif, serif;
}
nav {
  background-color: #02002e;
  padding: 1em;
  margin-left: 1px;
  text-decoration: none;
}
h2 {
  font-size: 12pt
}
aside {
  float: right;
  padding-left: 12px;
}
a {
  color: #02568f;
}
a:hover {
color: #ba6601;
}
div {
background-color: lightblue;
width: 300px;
border: 5px solid green;
padding: 15px;
margin: 1px;
}
footer {
  background: grey;
}
