#main-heading {
  font-family: "Cedarville Cursive";
	font-size: 3em;
  color: #9ACD32;
}

h1 {
	font-family: Abel;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2, li {
	font-family: Abel;
	font-size: 1.5em;
	font-style: normal;
	font-variant:small-caps;
	font-weight: 500;
	line-height: 15.4px;
}

h3 {
  font-family: "Open Sans";
  font-size: 1.2em;
  font-style: normal;
  font-variant: small-caps;
  line-height: 1em;
}

p, footer {
	font-family: "Open Sans";
	font-size: 0.9em;
	font-style: normal;
	font-variant: normal;
	font-weight: 50;
	line-height: 20px;
}
